*{
    margin:0;
    font-family:Roboto;
}

.header-box{
    display:flex;
    flex-direction:row;
    background-color:blueviolet;
    justify-content:space-between;
    height:70px;
}

.left-side {
    display:flex;
    align-items:center;
}

.home-button {
    color:white;
    font-weight:bold;
    font-size:25px;
    margin-left:30px;
    align-items:center;
}

.middle-side{
    display:flex;
    align-items:center;
    width:700px;
    margin-left:70px;
    margin-right:35px;
}

.search-bar {
    border-radius:28px;
    padding-left:20px;
    border:0;
    max-width:500px;
    flex:1;
    height:40px;
}

.right-side{
    display:flex;
    align-items:center;
}

.download-button {
    font-size:25px;
    color:white;
    border:1px solid white;
    border-radius:2px;
    background-color:blueviolet;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    margin-right:10px;
}